.main-card {
  background-color: #ffffff;
  color: #1c252e;
  background-image: none;
  position: relative;
  box-shadow: 0 0 2px 0 rgba(145 158 171 / 0.2),
    0 12px 24px -4px rgba(145 158 171 / 0.12);
  z-index: 0;
  overflow: hidden;
  border-radius: 16px;
  margin-top: 15px;
}

.container-title {
  display: flex;
  align-items: center;
  padding: 24px 24px 0px;
}

.title {
  flex: 1 1 auto;
}

.heading {
  margin: 0px;
  font-weight: 600;
  line-height: 1.55556;
  font-size: 1.125rem;
}

/* content css */

.main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sub-content {
  gap: 16px;
  display: flex;
  align-items: center;
}

.image-container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  line-height: 1;
  overflow: hidden;
  user-select: none;
  border-radius: 12px;
  width: 56px;
  height: 56px;
}

.image {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;

  max-width: 100%;
  vertical-align: center;
}

.data-content {
  min-width: 0px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.data-title {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  /* margin-bottom: 4px; */
  font-weight: 600;
  font-size: 0.875rem;
}

.data-subtitle {
  color: #637381;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
}

.percentage-container {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 16px;
}

.percentage-bar {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 0;
  border-radius: 4px;
  width: 100%;
  height: 6px;
  background-color: rgba(var(145, 158, 171) / 0.16);
}

.percentage-bar-fill {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  transform-origin: left center;
  background-color: #ffab00;
  border-radius: inherit;
  transition: transform 0.4s linear;
  opacity: 0.8;
}

.percentage {
  width: 40px;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #637381;
}
