.reminder-title {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-weight: 600;
  line-height: 1.55556;
  margin-bottom: 24px;
  /* font-size: 1.125rem; */
  font-size: 18px;
}

.reminder-data-container {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.reminder-data {
  gap: 12px;
  display: flex;
}

.data-circle {
  width: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 16px;
  flex-shrink: 0;
  opacity: 0.24;
  border-radius: 8px;
  background-color: #00b8d9; /* Dynamic Color which need to be changed */
}

.object-container {
  gap: 8px;
  min-width: 0px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.object-title {
  margin: 0px;
  font-weight: 600;
  /* font-size: 0.875rem; */
  font-size: 14px;
  line-height: 1.57143;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #1c252e;
}

.object-title:hover {
  text-decoration: underline;
  color: #1c252e;
}

.object-date {
  gap: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 400;
  /* font-size: 0.75rem; */
  font-size: 12px;
  line-height: 1.5;
  color: #637381;
}

.object-percentage {
  gap: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.percentage-bar {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 0;
  border-radius: 4px;
  width: 100%;
  height: 6px;
  background-color: rgb(145, 158, 171);
}

.reminder-percentage-bar-fill {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  transform-origin: left center;
  transition: transform 0.4s linear;
  transform: translateX(-33.3333%);
}

.percentage {
  width: 40px;
  font-weight: 500;
  /* font-size: 0.75rem; */
  font-size: 12px;
  line-height: 1.5;
  color: #1c252e;
}

.color-blue {
  background: #00b8e5;
}

.color-red {
  background: #ff5630;
}

.color-darkBlue {
  background: #8e33ff;
}

.color-green {
  background: #22c55e;
}
